#container {
    width: 210px;
    height: 210px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
}

.item {
    float: left;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}
